<div class="user-infos">
    {% set picture = 'uploads/user/avatar/'~annonce.user.avatar.path %}
    <img src="{{ picture |imagine_filter('my_carte') }}" alt="Avatar" class="img-rounded img-responsive"/>
    <div class="user-infos-options">
        <h3><a href="{{ path('wishters_user_show_user_profil', {'user': annonce.user.id }) }}" class="inherit-link">{{ annonce.user.username }}</a></h3>

        <p><a href="{{ path('wishter_front_region_show', {'region': annonce.user.region.slug}) }}" class="inherit-link">{{ annonce.user.region.nom }}</a></p>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if annonce.user.id|is_follow %}
                <button type="button" class="btn btn-info btn-sm remove-abonnement-btn" rel="{{ annonce.user.id }}"><i class="fa fa-wifi"></i> Abonné</button>
            {% else %}
                <button type="button" class="btn btn-success btn-sm add-abonnement-btn" rel="{{ annonce.user.id }}"><i class="fa fa-wifi"></i> S'abonner</button>
            {% endif %}
            <a href="#"><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalBlog"><i class="fa fa-comment"></i> Message</button></a>
        {% else %}
            <a href="#" data-toggle="modal" data-target="#modalAnonymousRelation"><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalAddAnnonce"><i class="fa fa-wifi"></i> Suivre</button></a>
            <a href="#"><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalBlog"><i class="fa fa-comment"></i> Message</button></a>
        {% endif %}

    </div>
</div>

<div class="user-activity">
    <h3>Activité</h3>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-anchor"></i> Blog <span class="badge badge-default pull-right">new</span></li>
        <li class="list-group-item"><i class="fa fa-shopping-cart"></i> Message <span class="badge badge-default pull-right">0</span></li>
        <li class="list-group-item"><i class="fa fa-coffee"></i> Annonces <span class="badge badge-default pull-right">{{ countAnnonce }}</span></li>
        <li class="list-group-item"><i class="fa fa-comment-o"></i> Abonnements <span class="badge badge-default pull-right">10</span></li>
        <li class="list-group-item"><i class="fa fa-comments-o"></i> Abonnés <span class="badge badge-default pull-right">2</span></li>
    </ul>
</div>